 table.clients {
    td {
        padding: 4px;
    }
    span.name {
        border: 1px solid grey;
        background-color: #f5f5f5;
        border-radius: 3px;
        padding: 2px;
        margin: 2px;
        white-space: nowrap;
        cursor: default;
    }
}

.mat-column-hw-id {
    min-width: 300px;
}

.mat-column-person-name {
    min-width: 150px;
}

.loading {
    padding: 10px;
    text-align: center;
}