<h2>Kill Stats</h2>
<app-kill-stats-table [hideWorld]="true"></app-kill-stats-table>


<h2>Awards (... of the month/week/day)</h2>
<ul>
    <li>Teamkiller</li>
    <li>Most won rounds</li>
    <li>Flags Captured (per CTF or 1FCTF game)</li>
    <li>Sniper (most rail kills per minute)</li>
    <li>KD (best kd stat)</li>
    <li>Berserker (most kills per minute per game)</li>
    <li>max Points per Game</li>
    <li>most played time</li>
    <li>most played map</li>
    <li>most used weapon</li>
</ul>

<h2>Point Graph last 30 weeks</h2>

<h2>Kill Stats Table Today/Yesterday</h2>